html,
body {
  height: 100%;
}

body {
  @extend %rubik;
  font-weight: 400;
  background-color: $silver-100;
  color: $dark;
  font-size: 18px;
  line-height: 1.4;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  margin-bottom: 120px;
}

.btn {
  background-color: $orange-900;
  color: $white;
  border-radius: 5px;
}

.link {
  font-size: 20px;
  line-height: 1.5;
  color: $darkBlue-900;
  text-decoration: underline;
}

.title {
  font-weight: 500;
  font-size: 36px;
  color: $darkBlue-900;
}

