$background: #f9faff;
$default: #31352b;
$title: #363853;
$orange: #ff6838;
$silver-200: #ececec;
$gray: #c2c2c2;
$gray-border: rgba(194, 194, 194,0.2);
$white: #ffffff;


%rubik-300{
  font-family: 'Rubik-Light', sans-serif;
  font-weight: 300;
}

%rubik-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500{
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%focus {
  &:not([disabled]):focus {
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    border-radius: 5px;
  }
}

%hover {
  &:not([disabled]):hover {
    color: $orange;
  }
}

%focus-btn {
  &:not([disabled]):focus {
    color: $orange;
    background-color: rgba(255, 122, 80, 0.1);
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    border-radius: 5px;
  }
}

%hover-btn {
  &:not([disabled]):hover {
    color: $orange;
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    border-radius: 5px;
  }
}
