@import 'reset';
@import 'fonts';
@import 'vars';
@import 'mixins';
@import 'libs';
@import 'animate';
@import 'global';

.header {
  padding: 57px 0 58px;

  @include md($desktop) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include md($tablet-2) {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  @include md($phone) {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: auto;
  }

  &__menu {
    margin-right: 50px;
  }
}

.user-nav {
  display: flex;

  &__list {
    display: flex;

    @include md($tablet-2) {
      margin-right: 17px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__form {
    position: relative;
  }

  &__field {
    visibility: hidden;
    height: 44px;
    margin-right: 2px;
    width: 0;
    font-size: 14px;
    padding: 0;
    opacity: 0;
    border: none;
    background-color: rgba($orange-900, 0.1);
    box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
    border-radius: 5px;
    transition: all 0.5s;

    &::placeholder {
      color: $gray;
      opacity: 0.9;
    }

    &:hover {
      &::placeholder {
        color: $darkBlue-900;
      }
    }

    &--active {
      visibility: visible;
      opacity: 1;
      width: 170px;
      padding: 5px 58px 5px 10px;
      transition: all 0.8s;

      @include md($phone) {
        font-size: 10px;
        width: 100px;
        padding: 5px 48px 5px 2px;
      }
    }
  }

  &__btn {
    visibility: hidden;
    position: absolute;
    font-size: 16px;
    right: 7px;
    top: 50%;
    transform: translatey(-50%);
    box-shadow: 0 0 0 2px rgba($orange-900, 0.7);

    &--active {
      animation-name: show;
      animation-duration: 0.5s;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;

      @include md($phone) {
        font-size: 14px;
        right: 5px;

      }
    }
  }

  &__search,
  &__cart {
    border-radius: 5px;
    width: 44px;
    height: 44px;
    position: relative;
    z-index: 2;
    transition: background-color 0.3s;

    &::after {
      content: '';
      mask-image: url('../images/sprite.svg#search');
      background-color: $dark;
      mask-repeat: no-repeat;
      mask-size: cover;
      width: 24px;
      height: 24px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      transition: background-color 0.2s,
        color 0.2s;
    }

    &:focus {
      background-color: $orange-100;
      box-shadow: 0 0 0 2px $orange-700;
    }

    &:hover {
      background-color: $orange-900;

      .user-nav__counter {
        color: $orange-900;
        background-color: $white;
      }

      &::after {
        background-color: $white;
        color: $white;
      }
    }

    &:active {
      box-shadow: none;
    }
  }

  &__cart {
    &::after {
      mask-image: url('../images/sprite.svg#cart');
    }
  }

  &__counter {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $orange-900;
    font-size: 10px;
    line-height: 1.4;
    color: $white;
    top: 9px;
    right: 3px;
    z-index: 3;
    transition: color 0.3s, background-color 0.3s;
  }
}

.mobile-menu,
.filters-menu {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.0);
  top: 0;
  left: 0;
  transform: translateX(-100vw);
  z-index: 100;
  width: 100vw;
  transition: transform 0.5s;

  @include md($tablet-2) {
    display: block;
    position: fixed;
  }

  &--active {
    transform: translateX(0);
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__wrapper {
    padding: 0 15px;
    width: 80vw;
    height: 100vh;
    background-color: #fff;
    overflow: auto;

    @include land($phone) {
      overflow: auto;
    }
  }

  &__header {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EEEFF3;
  }

  &__list {
    display: block;
    padding: 25px 0;
    border-bottom: 1px solid #EEEFF3;
    line-height: 1.2;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__footer {
    padding-top: 15px;
  }
}

.filters-menu {
  &__wrapper {
    padding: 0;

    @include md($tablet-2) {
      padding-bottom: 20px;
    }
  }

  &__header {
    border: none;
    justify-content: flex-end;
    padding: 20px;
  }
}

.hero {
  align-items: center;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include md($tablet-2) {
      position: relative;
      padding: 65px 0;
    }

    @include md($tablet) {
      padding: 35px 0;
    }

    @include md($phone) {
      padding: 25px 0;
    }
  }

  &__content {
    max-width: 450px;
    z-index: 1;

    @include md($tablet) {
      max-width: 350px;
    }
  }

  &__title,
  &__time {
    font-weight: 500;
    font-size: 66px;
    text-transform: uppercase;
    margin-bottom: 20px;
    @include line-clamp(2);

    &--orange {
      color: $orange-900;
    }

    @include md($tablet-2) {
      font-size: 40px;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    @include line-clamp(3);

    @include md($phone) {
      font-size: 16px;
    }
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__btn {
    padding: 12px 32px;
    border-radius: 6px;
    margin-right: 34px;
    letter-spacing: 0.03em;

    @include md($phone) {
      padding: 8px 24px;
    }
  }

  &__link {
    @include md($phone) {
      font-size: 16px;
    }
  }

  &__bg {
    max-width: 560px;
    width: 100%;
    height: 660px;
    background-size: cover;
    background-repeat: no-repeat;

    @include md($tablet-2) {
      background-size: contain;
      position: absolute;
      max-width: 355px;
      height: 450px;
      right: 0;
      top: 0;
      z-index: -1;

      @include md($tablet) {
        max-width: 300px;
        height: 350px;
      }

      @include md($phone) {
        opacity: 0.3;
        max-width: 255px;
        height: 300px;
      }
    }
  }
}

.popular-categories {
  text-align: center;

  &__title {
    margin-bottom: 60px;

    @include md($phone) {
      margin-bottom: 28px;
    }
  }

  &__filters {
    display: flex;
    margin-bottom: 45px;

    @include md($desktop) {
      justify-content: center;
    }

    @include md($tablet-2) {
      justify-content: flex-start;
      overflow: scroll;
      padding: 2px;
      scrollbar-width: none;


      &::-webkit-scrollbar {
        display: none;
        background: transparent;
      }
    }

    @include md($phone) {
      margin-bottom: 27px;
    }
  }

  &__filter {
    white-space: nowrap;

    &:not(:last-child) {
      margin-right: 20px;

      @include md($phone) {
        margin-right: 10px;
      }
    }
  }

  &__btn {
    font-size: 20px;
    padding: 22px 32px 22px 86px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px $silver-200;
    background-color: $white;
    color: $darkBlue-900;
    position: relative;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;

    @include md($desktop) {
      font-size: 16px;
      padding: 15px 25px 15px 79px;
    }

    @include md($phone) {
      font-size: 14px;
      padding: 12px 16px 12px 41px;
    }

    &::after {
      content: '';
      @extend %mask;

      @include md($phone) {
        width: 20px;
        height: 20px;
        left: 16px;
      }
    }

    &--burger {
      &::after {
        mask-image: url('../images/sprite.svg#burger');
      }
    }

    &--pizza {
      &::after {
        mask-image: url('../images/sprite.svg#pizza');
      }
    }

    &--sandwiches {
      &::after {
        mask-image: url('../images/sprite.svg#sandwiches');
      }
    }

    &--asian {
      &::after {
        mask-image: url('../images/sprite.svg#asian');
      }
    }

    &--sets {
      &::after {
        mask-image: url('../images/sprite.svg#sets');
      }
    }

    &:focus {
      color: $darkBlue-900;
      background-color: $white;
      box-shadow: 0 0 0 2px $orange-700;

      &::after {
        background-color: $darkBlue-900;
      }
    }

    &:hover {
      color: $orange-900;
      background-color: $orange-100;
      box-shadow: 0 0 0 2px $orange-700;

      &::after {
        background-color: $orange-900;
      }
    }

    &:active {
      background-color: $white;
      box-shadow: inset 0 -5px 12px $orange-200;
    }
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    margin-bottom: 60px;

    @include md($desktop) {
      grid-template-columns: repeat(4, 210px);
      justify-content: center;
    }

    @include md($tablet-2) {
      grid-template-columns: repeat(3, 210px);
    }

    @include md($tablet) {
      grid-template-columns: repeat(3, 170px);
      grid-gap: 20px;
    }

    @include md($phone) {
      margin-bottom: 30px;
      grid-template-columns: repeat(2, 170px);
      grid-column-gap: 5px;
      grid-row-gap: 10px;
    }
  }
}

.mixitup-control-active {
  color: white;
  background-color: $orange-900;

  &::after {
    background-color: $white;
  }
}

.product-card {
  padding: 20px 15px;
  background-color: $white;
  box-shadow: 0 0 0 1px $silver-200;
  border-radius: 5px;
  transition: box-shadow 0.3s;

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
  }

  &__img {
    margin-bottom: 10px;
  }

  &__number {
    font-weight: 500;
    font-size: 15px;
    color: $darkBlue-900;
    line-height: 1.4;
  }

  &__text {
    font-size: 15px;
    margin-bottom: 28px;
    font-weight: 400;
    line-height: 1.2;
    @include line-clamp(2);

    &--margin {
      margin-bottom: 10px;
    }

    &--royal {
      @include md($tablet) {
        margin-bottom: 10px;
      }
    }
  }

  &__button {
    padding: 7px 16px;
    font-size: 14px;
  }

  &:hover {
    box-shadow: 0 0 0 1px $orange-900;
  }
}

.features {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1030px;
    width: 100%;
    margin: 0 auto;
    position: relative;

    @include md($tablet) {
      justify-content: flex-end;
    }
  }

  &__bg {
    width: 440px;
    height: 585px;
    background-size: cover;
    background-repeat: no-repeat;

    @include md($tablet-2) {
      background-size: contain;
      width: 345px;
      height: 462px;
    }

    @include md($tablet) {
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      opacity: 0.3;
    }
  }

  &__info {
    max-width: 470px;

    @include md($tablet-2) {
      padding: 25px 0;
      max-width: 370px;
    }
  }

  &__title {
    margin-bottom: 30px;
    @include line-clamp(2);
  }

  &__text {
    font-size: 20px;
    line-height: 1.5;
    opacity: 0.9;
    margin-bottom: 30px;
    @include line-clamp(4);

    @include md($tablet-2) {
      font-size: 18px;
      margin-bottom: 34px;
    }

    @include md($phone) {
      font-size: 16px;
    }
  }

  &__list {
    margin-bottom: 30px;

    @include md($tablet) {
      margin-bottom: 23px;
    }
  }

  &__item {
    font-size: 24px;
    line-height: 1.5;
    padding-left: 65px;
    background-repeat: no-repeat;
    background-size: 34px 34px;
    background-position: left center;
    @include line-clamp(1);

    @include md($tablet-2) {
      font-size: 20px;
      padding-left: 55px;
    }

    @include md($tablet-2) {
      font-size: 18px;
      padding-left: 45px;
    }

    &--time {
      background-image: url('../images/sprite.svg#time');
    }

    &--delivery {
      background-image: url('../images/sprite.svg#delivery');
    }

    &--resturent {
      background-image: url('../images/sprite.svg#resturent');
    }

    &:not(:last-child) {
      margin-bottom: 20px;

      @include md($tablet) {
        margin-bottom: 22px;
      }
    }
  }

  &__button {
    display: inline-block;
    padding: 12px 32px;
    letter-spacing: 0.03em;
  }
}

.best-restaurants {
  text-align: center;

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

    @include md($desktop) {
      grid-template-columns: repeat(2, 370px);
      justify-content: center;
    }

    @include md($tablet-2) {
      grid-template-columns: repeat(2, 345px);
    }

    @include md($tablet) {
      grid-gap: 0;
      display: flex;
      justify-content: flex-start;
    }

    @include land($phone) {
      grid-template-columns: repeat(2, 300px);

    }
  }

  &__container {
    overflow: visible;
    background-color: transparent;

    @include md($tablet) {
      overflow: hidden;
      width: 345px;
      height: 419px;
      border-radius: 10px;
      margin-bottom: 30px;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    }
  }


}

.restaurants-card {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: $white;
  transition: box-shadow 0.3s;
  max-width: 370px;
  width: 100%;

  &__inner {
    padding: 15px 20px 20px;
    text-align: left;
    overflow: hidden;

    &--discounts {
      padding: 15px 20px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
    @include line-clamp(2);

    &--discounts {
      margin-bottom: 0;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__time {
    padding-left: 32px;
    font-weight: 300;
    line-height: 1.7;
    background-image: url(../images/sprite.svg#time-black);
    background-size: 23px 22px;
    background-position: left center;
    background-repeat: no-repeat;
    opacity: 0.9;
  }

  &__button {
    width: 79px;
    height: 33px;
    border-radius: 20px;
    position: relative;

    &::after {
      content: '';
      mask-image: url('../images/sprite.svg#arrow');
      background-color: $white;
      mask-repeat: no-repeat;
      mask-size: 14px 14px;
      width: 14px;
      height: 14px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: transform 0.5s;
    }

    &:focus,
    &:hover,
    &:active {
      &::after {
        background-color: $orange-900;
      }
    }

    &:hover {
      &::after {
        transform: translate(100%, -50%);
      }
    }
  }

  &:hover {
    box-shadow: 0 3px 15px rgba($orange-900, 0.5);
  }
}

.restaurants-card__bullet,
.reviews-slider__bullet {
  width: 15px;
  height: 15px;
  background-color: $silver-200;
  opacity: 1;
  outline: transparent;
  margin: 0 !important;
  transition: box-shadow 0.3s,
    background-color 0.3s;

  &:not(:last-child) {
    margin: 0 15px 0 0 !important;
  }

  &:focus {
    box-shadow: 0 0 0 2px $orange-900;
  }

  &:hover {
    background-color: rgba($orange-900, 0.1);
    box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
  }

  &:active {
    background-color: rgba($orange-900, 0.5);
  }
}

.customer-reviews {
  text-align: center;
}

.reviews-slider {
  @include md($phone) {
    position: relative;
  }

  &__container {
    max-width: 990px;
    width: 100%;
    position: relative;
  }

  &__author {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;

    @include md($tablet-2) {
      flex-direction: column;
      align-items: center;
      position: relative;
      margin-bottom: 0;
    }
  }

  &__img {
    border-radius: 50%;

    @include md($tablet-2) {
      width: 200px;
      height: 200px;
      margin-bottom: 30px;
    }

    @include md($phone) {
      width: 100px;
      height: 100px;
    }

    @include land($phone) {
      width: 150px;
      height: 150px;
    }
  }

  &__inner {
    text-align: left;
    max-width: 570px;
    width: 100%;
    font-size: 20px;
    padding-right: 40px;
    line-height: 1.3;
    align-self: center;

    @include md($tablet-2) {
      padding: 0 30px;
    }

    @include md($tablet) {
      max-width: 400px;
      width: 100%;
    }

    @include md($phone) {
      max-width: 265px;
      width: 100%;
    }

    @include land($phone) {
      font-size: 16px;
    }

  }

  &__text {
    position: relative;
    line-height: 1.5;
    font-style: italic;
    margin-bottom: 30px;

    @include md($phone) {
      margin-bottom: 20px;
      font-size: 14px;
    }

    @include land($phone) {
      margin-bottom: 20px;
    }

    &::before,
    &::after {
      content: '';
      width: 25px;
      height: 23px;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
    }

    &::before {
      background-image: url(../images/sprite.svg#quotes-start);
      left: -40px;

      @include md($tablet-2) {
        left: -35px;
        top: -15px;
      }
    }

    &::after {
      background-image: url(../images/sprite.svg#quotes-end);
      right: -40px;
      bottom: -5px;

      @include md($tablet-2) {
        right: -35px;
        bottom: 10px;
      }
    }
  }

  &__name {
    font-style: normal;
    display: block;
    color: $orange-900;
    font-weight: 500;
    margin-bottom: 15px;

    @include md($phone) {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  &__about {
    display: block;
    font-size: 14px;
  }

  &__navigation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @include md($phone) {
      position: absolute;
      top: 30px;
      left: 33px;
      right: 33px;
      justify-content: space-between;
    }
  }

  &__prev,
  &__next {
    position: relative;
    border-radius: 50%;
    border: 3px solid $silver-200;
    background-color: $white;
    width: 40px;
    height: 40px;
    transition: box-shadow 0.3s, border 0.3s, background-color 0.3s;

    &::after {
      content: '';
      mask-image: url('../images/sprite.svg#prev-arrow');
      background-color: $silver-200;
      mask-repeat: no-repeat;
      mask-position: center center;
      mask-size: cover;
      width: 11px;
      height: 19px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: background-color 0.3s;
      z-index: 5;
    }

    &:focus {
      box-shadow: 0 0 0 2px $orange-700;
    }

    &:hover {
      box-shadow: none;
      background-color: $orange-100;
      border: 3px solid $orange-700;

      &::after {
        background-color: $orange-700;
      }
    }

    &:active {
      box-shadow: none;
      background-color: $orange-100;

      &::after {
        background-color: $orange-900;
      }
    }
  }

  &__next {
    &::after {
      mask-image: url('../images/sprite.svg#next-arrow');
    }
  }

  &__bullet {
    @include md($phone) {
      display: none;
    }
  }
}

.swiper-pagination {
  position: static;
  display: flex;
  align-items: center;
  width: auto !important;
  margin: 0 23px;
  justify-content: center;
}

.swiper-pagination-bullet-active {
  background-color: $orange-900;
}

.swiper-button-next,
.swiper-button-prev {
  &::after {
    display: none;
  }
}

.mobile-app {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    max-width: 538px;
    width: 100%;

    @include md($tablet-2) {
      max-width: none;
    }
  }

  &__title {
    margin-bottom: 45px;

    @include md($phone) {
      margin-bottom: 13px;
    }

    @include land($phone) {
      margin-bottom: 15px;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    opacity: 0.9;
    @include line-clamp(3);

    @include md($phone) {
      font-size: 14px;
      margin-bottom: 15px;
    }

    @include land($phone) {
      font-size: 18px;
      margin-bottom: 25px;
    }
  }

  &__download {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__link {
    display: block;
    height: 40px;
    background-repeat: no-repeat;
    background-size: cover;

    &--app-store {
      border-radius: 7px;
      width: 120px;
      background-image: url(../images/content/mobile-app/appstore.svg);
    }

    &--google-play {
      border-radius: 5px;
      width: 135px;
      background-image: url(../images/content/mobile-app/googleplay.svg);
    }
  }

  &__img {
    max-width: 570px;
    width: 100%;
    height: 380px;
    background-repeat: no-repeat;

    @include md($desktop) {
      position: absolute;
      right: 0;
      z-index: -1;
    }

    @include md($tablet-2) {
      display: none;
    }
  }
}

.product-catalog {
  &__wrapper {
    display: flex;
    margin-bottom: 60px;

    @include md($tablet-2) {
      margin-bottom: 40px;
    }

    @include md($tablet) {
      flex-direction: column;
      margin-bottom: 30px;
    }
  }

  &__row {
    display: flex;
  }

  &__title {
    margin-right: auto;
    margin-bottom: 0;

    @include md($tablet) {
      margin-bottom: 20px;
    }
  }

  &__selects {
    display: flex;
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    @include md($desktop) {
      justify-content: space-evenly;
    }

    @include md($tablet-2) {
      justify-content: center;
    }
  }

  &__filters {
    @include md($tablet-2) {
      display: none;
    }
  }
}

.sort {
  &__item {
    &:not(:last-child) {
      margin-right: 15px;

      @include md($phone) {
        margin-right: 10px;
      }
    }
  }
}

.product-category {
  &__list {
    padding: 22px 15px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__link {
    letter-spacing: 0.03em;

    &:focus {
      background-color: rgba($orange-900, 0.1);
      box-shadow: 0 0 0 2px #FFA285;
      border-radius: 3px;
    }

    &:hover {
      color: $orange-900;
    }

    &:active {
      background-color: transparent;
      box-shadow: none;
      text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
      color: $dark;
    }
  }
}

.product-offers {
  &__form {
    display: flex;
    align-items: center;
  }

  &__content {
    padding: 22px 15px;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__label {
    line-height: 1.2;
    letter-spacing: 0.03em;
    padding-left: 36px;
    transition: color 0.2s;
    &::before {
      background-color: rgba($orange-900, 0.1);
      border: 1px solid $silver-200;
      margin-right: 12px;
    }
    &::after {
      border: 1px solid $darkBlue-900;
    }

    &:hover,
    &:focus {
      color: $orange-900;

      &::before,
      &::after {
        border: 1px solid #FF6838;
      }
    }
  }

  &__input {
    &:checked {
      &+.product-offers__label {
        &::after {
          opacity: 1;
        }
      }
    }
  }
}

.product-price {
  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  &__item {
    color: $gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.03em;
    font-size: 16px;
    line-height: 1;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__from,
  &__to {
    text-align: center;
    width: 70px;
    height: 40px;
    background: rgba($orange-900, 0.1);
    border: 1px solid $silver-200;
    border-radius: 3px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark;
  }
}

.burgers-catalog {
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 210px);
    grid-gap: 10px;
    margin-bottom: 60px;
    text-align: center;

    @include md($desktop) {
      grid-template-columns: repeat(3, 210px);
    }

    @include md($tablet-2) {
      grid-template-columns: repeat(3, 210px);
      grid-gap: 20px;
    }

    @include md($tablet) {
      grid-template-columns: repeat(3, 170px);
    }

    @include md($phone) {
      grid-template-columns: repeat(2, 170px);
      grid-column-gap: 5px;
      grid-row-gap: 10px;
      margin-bottom: 30px;
    }
  }

  &__item {
    &:nth-child(n+7) {
      @include md($phone) {
        display: none;
      }
    }
  }
}

.pagination {
  &__items {
    display: flex;
    justify-content: center;
  }

  &__item {
    display: block;

    &:nth-child(3),
    &:nth-child(5) {
      @include md($phone) {
        display: none;
      }
    }

    &:not(:last-child) {
      margin-right: 6px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $darkBlue-900;
    width: 48px;
    height: 48px;
    background-color: rgba($orange-900, 0.1);
    border-radius: 3px;
    position: relative;
    transition: background-color 0.3s, color 0.3s;

    &--active {
      border: 1px solid #363853;
    }

    &--from,
    &--to {
      &::after {
        content: '';
        position: absolute;
        mask-image: url(../images/sprite.svg#from);
        background-color: $gray;
        width: 11px;
        height: 18px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        mask-repeat: no-repeat;
        mask-size: cover;
        mask-position: center;
      }
    }

    &--to {
      &::after {
        mask-image: url(../images/sprite.svg#to-arrow);
      }
    }

    &:focus {
      box-shadow: 0 0 0 2px $orange-900;
    }

    &:hover {
      background-color: $orange-900;
      color: $white;

      &::after {
        background-color: $white;
      }
    }

    &:active {
      box-shadow: inset 0 -1px 4px 2px rgba(0, 0, 0, 0.15);
    }
  }
}

.discounts {
  &__title {
    margin-bottom: 60px;

    @include md($phone) {
      margin-bottom: 40px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-column-gap: 30px;

    @include md($desktop) {
      grid-template-columns: repeat(2, 370px);
      grid-gap: 30px;
      justify-content: center;
    }

    @include md($tablet-2) {
      grid-template-columns: repeat(2, 345px);
    }

    @include md($tablet) {
      grid-gap: 0;
      display: flex;
      justify-content: space-between;
    }
  }

  &__container {
    overflow: visible;
    background-color: transparent;

    @include md($tablet) {
      margin-bottom: 45px;
      overflow: hidden;
      width: 345px;
      height: 392px;
      border-radius: 10px;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    }
  }

}

.about-product {
  @include md($phone) {
    margin-bottom: 45px;
  }
  &__title {
    margin-bottom: 30px;
    @include md($phone) {
      margin-bottom: 15px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    @include md($desktop) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @include md($phone) {
      margin-top: -10px;
      margin-bottom: 30px;
    }
  }

  &__price {
    font-weight: 500;
    font-size: 25px;
    line-height: 1.4;
    color: $darkBlue-900;
    margin-bottom: 20px;
  }

  &__star {
    margin-bottom: 25px;
    @include md($phone) {
      margin-bottom: 15px;
    }
  }
}

.about-slider {
  margin-left: 0;
  margin-right: 0;
  background-color: $white;
  width: 610px;
  height: 550px;
  box-shadow: 0 0 0 1px $silver-200;
  border-radius: 5px;
  position: relative;
  @include md($desktop) {
    margin-bottom: 30px;
  }
  @include md($tablet) {
    width: 510px;
    height: 450px;
  }
  @include md($phone) {
    width: 345px;
    height: 345px;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    @include md($tablet) {
      width: 350px;
      height: 350px;
    }
    @include md($phone) {
      width: 300px;
      height: 300px;
    }
  }

  &__prev,
  &__next {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 60px;
    height: 60px;
    @include md($tablet) {
      display: none;
    }

    &::before {
      content: '';
      background-image: url(../images/sprite.svg#prev-ar);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 19px;
      height: 32px;
      position: absolute;
      z-index: 5;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }

  &__prev {
    left: 25px;
  }

  &__next {
    right: 25px;

    &::before {
      background-image: url(../images/sprite.svg#next-ar);
    }
  }
}

.about-popup {
  &__container {
    border-radius: 15px;
    width: 90vw;
    height: 90vh;
  }

  &__slide {
    display: flex;
    justify-content: center;
    padding-top: 60px;
  }

  &__pagination {
    position: sticky;
    bottom: 10vh !important;
  }

  &__close {
    overflow: visible;
    width: 32px;
    height: 32px;
    background-image: url('../images/sprite.svg#close');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1046;
    touch-action: manipulation;
    position: absolute;
    right: 38px;
    top: 38px;
  }
}

.about-form {
  margin-bottom: 30px;

  &__input {
    padding: 0;
    width: 158px;
    height: 44px;
    padding: 0 44px;
    margin-right: 20px;
    @include md($phone) {
      display: block;
      margin-bottom: 15px;
    }
  }

  &__btn {
    font-weight: 500;
    padding: 13px 38px 13px 70px;
    font-size: 14px;
    position: relative;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;

    &::after {
      content: '';
      mask-image: url('../images/sprite.svg#cart');
      background-color: $white;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: cover;
      width: 17px;
      height: 17px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 38px;
    }

    &:focus,
    &:hover,
    &:active {
      &::after {
        background-color: $orange-900;
      }
    }
  }
}

.about-delivery {
  max-width: 535px;
  width: 100%;

  &__title {
    font-weight: 400;
    padding-bottom: 15px;
    border-bottom: 1px solid #E4E4E4;
    margin-bottom: 20px;
    @include md($phone) {
      margin-bottom: 15px;
      font-size: 18px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: $gray-50;
    margin-bottom: 20px;
    @include md($phone) {
      margin-bottom: 15px;
    }
  }

  &__link {
    @include md($phone) {
      font-size: 16px;
    }
  }
}

.product-tabs {
  border-top: 2px solid #E4E4E4;

  &__container {
    max-width: 720px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
  }

  &__top {
    margin: 30px 0;
    display: flex;
    @include md($tablet) {
      justify-content: flex-start;
      overflow: scroll;
      margin: 26px 0;
      padding: 2px 0;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
        background: transparent;
      }
    }
  }

  &__name {
    white-space: nowrap;
    &:not(:last-child) {
      margin-right: 60px;
      @include md($phone) {
        margin-right: 30px;
      }
    }
  }

  &__link {
    font-size: 24px;
    line-height: 1.5;
    @include md($phone) {
      font-size: 20px;
    }

    &--active {
      color: $orange-900;
    }
  }

  &__item {
    display: none;

    &--active {
      display: block;
    }
  }

  &__description,
  &__characteristics {
    font-size: 20px;
    line-height: 1.5;
    opacity: 0.9;
    @include md($phone) {
      font-size: 16px;
    }

    & p:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__characteristics {
    & p {
      font-weight: 500;

      & span {
        font-weight: 400;
      }
    }

    & p:not(:last-child) {
      margin-bottom: 10px;
      @include md($phone) {
        margin-bottom: 15px;
      }
    }
  }

  &__reviews {
    margin-bottom: 60px;

    @include md($phone) {
      margin-bottom: 45px;
    }
  }
}

.customer-opinions {
  &__item {
    &:not(:last-child) {
      margin-bottom: 25px;
      border-bottom: 2px solid #E4E4E4;
      padding-bottom: 20px;
      @include md($phone) {
        padding-bottom: 15px;
        margin-bottom: 15px;
      }
    }
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    @include md($phone) {
      flex-direction: column;
      margin-bottom: 15px;
    }
  }

  &__author-img {
    border-radius: 50%;
    margin-right: 25px;
  }

  &__inner {
    display: flex;
    margin-right: auto;
    @include md($phone) {
      margin-bottom: 15px;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__name {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: $gray-50;
    margin-bottom: 10px;
    @include md($phone) {
      margin-bottom: 8px;
    }
  }

  &__time {
    letter-spacing: 0.03em;
    color: $gray-50;
  }

  &__text {
    font-size: 20px;
    line-height: 1.5;
    color: $gray-50;
    @include md($phone) {
      font-size: 16px;
    }
  }

  &__star {
    align-self: center;
    @include md($phone) {
      align-self: flex-start;
    }
  }
}

.feedback-form {
  &__rating {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 6px;
    }
  }

  &__name {
    font-size: 20px;
    color: $gray-50;
    margin-right: 15px;
  }

  &__label {
    display: inline-block;
    cursor: pointer;
    width: 16px;
    height: 16px;
    mask-image: url('../images/star.svg');
    background-color: #C1C1C1;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
    width: 16px;
    height: 16px;

    &--active {
      background-color: #FFB800;
    }
  }

  &__fields {
    margin-bottom: 30px;
  }

  &__save {
    display: flex;
    margin-bottom: 30px;
  }

  &__checkbox {
    max-width: 650px;
    width: 100%;
    color: $gray-50;
    padding-left: 34px;
    position: relative;

    &::before {
      border: 1px solid #C1C1C1;
    }
  }

  &__input {
    &:checked {
      &+.feedback-form__checkbox {
        &::after {
          opacity: 1;
        }
      }
    }
  }

  &__btn {
    letter-spacing: 0.03em;
    padding: 12px 32px;
    @include md($phone) {
      font-size: 18px;
    }
  }
}

.form-reviews {
  display: flex;
  @include md($tablet) {
    flex-direction: column;
  }

  &__textarea {
    margin-right: auto;
    @include md($phone) {
      margin-bottom: 20px;
    }
  }

  &__label {
    display: block;
    font-size: 20px;
    color: $gray-50;
    margin-bottom: 15px;
  }

  &__row {
    &:not(:last-child) {
      margin-bottom: 10px;
      @include md($phone) {
        margin-bottom: 20px;
      }
    }
  }

  &__field {
    display: block;
    width: 260px;
    background-color: $white;
    border: 1px solid $gray;
    border-radius: 5px;
    padding: 17px;
    font-size: 16px;
    transition: box-shadow 0.3s,
    color 0.3s;
    @include md($phone) {
      width: 345px;
      padding: 17px 17px 13px ;
    } 

    &--textarea {
      width: 400px;
      height: 165px;
      resize: none;
      @include md($phone) {
        width: 345px;
      }
    }

    &::placeholder {
      color: #C1C1C1;
    }

    &:focus {
      box-shadow: 0 0 0 2px $orange-900;
      border: 1px solid transparent;
    }

    &:hover {
      &::placeholder {
        color: $darkBlue-900;
      }
    }
  }

}

.view-more {
  &__inner {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    @include md($tablet) {
      margin-bottom: 30px;
    }

  }
  &__title {
    margin-bottom: 0;
    margin-right: auto;
    @include md($phone) {
      font-size: 20px;
    }
  }

  &__next,
  &__prev {
    border: 3px solid $gray;
    @include md($tablet) {
      display: none;
    }
    &::after {
      background-color: $gray;
    }
  }

  &__prev {
    margin-right: 20px;
  }

  &__container {
    padding: 2px;
    margin: -2px;
    @include md ($tablet) {
      margin-bottom: 30px;
    }
    @include md($phone) {
      width: 345px;
      margin: -2px auto 30px;
    }
  }

  &__item {
    max-width: 210px;
    width: 100%;
    text-align: center;
  }
}



.footer {
  &__top {
    display: flex;
    margin-bottom: 60px;

    @include md($tablet-2) {
      flex-wrap: wrap;
      margin-bottom: 40px;
    }

    @include md($phone) {
      margin-bottom: 31px;
    }

    @include land($phone) {
      margin-bottom: 25px;
    }
  }

  &__form {
    max-width: 202px;
    width: 100%;
    margin-right: 70px;

    @include md($desktop) {
      margin-right: 35px;
    }

    @include md($tablet-2) {
      margin-bottom: 30px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 153px 89px 187px;
    grid-column-gap: 70px;
    margin-right: 70px;

    @include md($desktop) {
      margin-right: 35px;
      grid-column-gap: 35px;
    }

    @include md($tablet-2) {
      order: 3;
    }

    @include md($phone) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    letter-spacing: 0.01em;

    @include md($tablet-2) {
      margin-bottom: 20px;
    }
  }

  &__link {
    transition: color 0.3s,
      text-shadow 0.3s;

    &:hover {
      color: $orange-900;
    }

    &:active {
      text-shadow: 2px 2px 5px $text-shadow-500;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 28px;
  }

  &__copyright {
    text-align: center;
    padding: 30px 0;
    font-size: 14px;
    line-height: 1;
    border-top: 1px solid $gray-border;

    @include md($phone) {
      padding: 20px 0;
    }
  }
}

.form-subscribe {
  font-size: 14px;

  &__btn {
    font-weight: 500;
    padding: 13px 39px 12px 70px;
    border-radius: 5px;
    position: relative;
    transition: background-color 0.3s,
      color 0.3s;

    @include md($tablet-2) {
      font-size: 14px;
    }

    &::after {
      content: '';
      mask-image: url('../images/sprite.svg#telegram');
      background-color: $white;
      mask-repeat: no-repeat;
      mask-position: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 40px;
      mask-size: cover;
      width: 15px;
      height: 14px;
    }

    &:focus,
    &:hover,
    &:active {
      &::after {
        background-color: $orange-900;
      }
    }
  }

  &__field {
    display: block;
    background-color: $white;
    padding: 13px 15px;
    border: 1px solid $gray;
    width: 100%;
    resize: none;
    border-radius: 5px;
    margin-bottom: 12px;
    transition: box-shadow 0.3s, color 0.3s;

    &:focus {
      box-shadow: 0 0 0 2px $orange-900;
      border: 1px solid transparent;
    }

    &:hover {
      &::placeholder {
        color: $darkBlue-900;
      }
    }

    &::placeholder {
      color: $gray;
      opacity: 0.9;
    }
  }
}

.jq-number {
  &__field {
    background-color: (rgba($orange-900, 0.1));
    width: 70px;
    height: 44px;
    border: none;
    box-shadow: none;
  }

  &__field input {
    width: 100%;
    padding: 10px 17px;
    border: none;
    outline: none;
    background: none;
    @extend %rubik;
    font-weight: 400;
    color: $darkBlue-900;
    letter-spacing: 0.03em;
    line-height: 1;
    font-size: 20px;
    text-align: center;
  }

  &__spin {
    position: absolute;
    top: 0;
    width: 44px;
    height: 44px;
    border: none;
    box-shadow: none;
    background: $orange-900;
    text-shadow: none;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s;

    &::after {
      content: '';
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border: none;
      transition: background 0.3s,
        box-shadow 0.3s;
    }

    &:hover,
    &:active {
      background: $white;
      box-shadow: 0 0 0 2px rgba($orange-900, 0.7);

      &.minus,
      &.plus {
        &::after {
          background-color: $orange-900;
        }
      }
    }

    &:active {
      box-shadow: none;
    }
  }

  &__spin.minus,
  &__spin.plus {
    right: auto;
    left: 0;
    border-radius: 3px 0px 0px 3px;

    &::after {
      content: '';
      top: 0;
      border: none;
      mask-image: url(../images/sprite.svg#minus);
      background-color: $white;
      mask-repeat: no-repeat;
      mask-size: cover;
      mask-position: center;
      width: 20px;
      height: 20px;
    }
  }

  &__spin.plus {
    right: 0;
    left: auto;
    border-radius: 0px 3px 3px 0px;

    &::after {
      mask-image: url(../images/sprite.svg#plus);
    }
  }
}